:root {
  --primary-color: gainsboro;
  --ui-color-alpha: #252525;
  --ui-color-beta: #333333;
  --css-color: #16a1dc;
  --html-color: #e34f26;
  --js-color: #f0db4f;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  position: relative;
  height: auto;
  min-height: 100%;
  background: var(--ui-color-alpha);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 100px 20px;
  text-align: center;
  transition: .5s;
}

/* || Header */
header h1 {
  font-weight: normal;
  font-size: 5em;
  margin: auto;
  opacity: .8;
  letter-spacing: 10px;
  text-transform: uppercase;
}

header h1 span {
  font-size: calc(1em + 35px);
}

header h2 {
  font-weight: normal;
}

/* || Nav */
nav ul {
  margin: auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

nav a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
}

nav ul > li {
  margin: 20px 10px;
  min-width: 150px;
  min-height: 150px;
  max-width: 150px;
  max-height: 150px;
  transition: .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--ui-color-beta);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.0) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.0) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.0) inset;
}

nav[data-view*='css'] ul > li.css, 
nav ul > li.css:hover {
  background: var(--css-color);
}

nav[data-view*='html'] ul > li.html,
nav ul > li.html:hover {
  background: var(--html-color);
}

nav[data-view*='javascript'] ul > li.js,
nav ul > li.js:hover {
  background: var(--js-color);
}

nav[data-view*='javascript'] ul > li.js a,
nav ul > li.js:hover a {
  color: var(--ui-color-beta);
}

nav ul > li svg[class*='svg'] {
  display: block;
  margin: auto;
  font-size: 7em;
}

/* || View */
.viewContent {
  max-width: 850px;
  width: 100%;
}

.viewContent .viewContent__title {
  margin: 1em 40px;
  font-size: 20px;
}

.viewContent--loading {
  min-height: 100vh;
  opacity: .5;
}

.specList {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.0) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.0) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.0) inset;
}

.specList ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template: 100px 1fr / 80px minmax(auto, 250px) minmax(auto, 1fr) 80px;
  grid-gap: 2px;
  text-align: left;
}

.specList__JS ul {
  grid-template-rows: 50px 1fr;
}

ul.specList__header {
  grid-template-rows: auto 1fr;
  font-weight: 600;
}

.specList ul.specList__header li:first-child {
  background: var(--ui-color-alpha);
}

.specList ul:nth-child(odd) {
  background: var(--ui-color-beta);
}

.specList ul li {
  padding: 5px;
  display: flex;
  align-items: center;
}

.specList ul:not(.specList__header) li:nth-child(3) {
  font-size: 12px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.specList ul li:first-child {
  font-weight: 600;
}

.specList #stage-0 li:first-child {
  background: #cb624d;
}

.specList #stage-1 li:first-child {
  background: #e66e32;
}

.specList #stage-2 li:first-child {
  background: #cfd50f;
  color: var(--ui-color-beta);
}

.specList #stage-3 li:first-child {
  background: #71ac34;
}

.specList #stage-4 li:first-child,
.specList #stage-5 li:first-child {
  background: #2f9b3f;
}

/* || Footer */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 20px;
}